@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lekton:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200;300;400;500;600;700;800;900&display=swap');

body {
    font-family: 'Inconsolata', sans-serif;
    font-weight: 300;
    margin: 20%;
    margin-top: 0%;
    font-size: 17px;
}

a.dropdown-item{
  font-family: 'Lekton', monospace;
}

header nav ul {
  font-family: 'Lekton', monospace;
}

h1, h2, h3, h4, h5 {
  font-weight: lighter;
  font-family: 'Lekton', monospace;
  color: #0066b9;
}

strong {
  font-weight: bold;
}

h1, .meta {
  text-align: center;
}

h2 {
  margin-bottom: 5%;
  text-align: center;
}

h3, h4 {
  line-height: 140%;
  margin-bottom: 3%;
}

p, li {
  line-height: 130%;
  margin-bottom: 3%;
  letter-spacing: 0.01em;
}

h2.title {
  text-align: center;
  color: #0066b9;
  font-size: 24px;
}

header{
  padding-top: 3%;
}

.category_label {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.active.list-group-item a {
  color: white;
}

/*.resources .panel {*/
/*    background:  #EFF6FB;*/
/*    border: 1px solid #DBDBDB;*/
/*}*/

pre {
  border: 1px solid lightpink;
  padding: 2%;
  border-radius: 16px;
}

.container {
  max-width: 42em !important;
}

div.body {
  margin-top: 5%;
}

div.author {
  text-align: center;
}

div.footer {
  margin-top: 15%;
  color: lightslategray;
  text-align: center;
  font-size: 10pt;
}

p.other-from-topic {
  color: lightgray;
  font-weight: 500;
}

.blur {
  color: lightgray;
}

pre.poem {
  text-align: center;
  border: transparent;
  font-family: 'Inconsolata', sans-serif;
  font-size: 17px;
}