@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Karla:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&family=Libre+Baskerville:ital,wght@0,400;0,700;1,400&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&family=Major+Mono+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

body {
    font-family: 'Roboto Mono', monospace;
    font-weight: 300;
    margin: 20%;
    margin-top: 0%;
    font-size: 16px;
}

a.dropdown-item{
  font-family: 'Roboto Mono', monospace;
}

h1, h2, h3, h4, h5 {
  font-weight: 800;
  font-family: 'Roboto Mono', monospace;
  color: #0066b9;
}

h1.display-1 {
  font-family: 'Special Elite', monospace;
  text-align: center;
  font-size: 4em;
}

h1 {
  text-align: center;
}

h2 {
  margin-bottom: 3%;
}

h3, h4 {
  line-height: 140%;
}

p {
  line-height: 140%;
}

header{
  padding-top: 3%;
}

header nav ul {
    font-family: 'Roboto Mono', monospace;
}

.category_label {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.active.list-group-item a {
  color: white;
}

/*.resources .panel {*/
/*    background:  #EFF6FB;*/
/*    border: 1px solid #DBDBDB;*/
/*}*/

pre {
  border: 1px solid lightpink;
  padding: 2%;
  border-radius: 16px;
}

.container-md {
  max-width: 900px !important;
}

div.body {
  margin-top: 5%;
}

div.author {
  text-align: center;
}
