@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;1,100;1,200;1,300;1,400;1,500;1,600;1,700&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');

@font-face {
   font-family: 'iaWriter'; 
   font-style: normal; 
   font-weight: 400; 
   src: url(iAWriterMonoS-Regular.woff2) format('woff2');
}

@font-face {
   font-family: 'iaWriter'; 
   font-style: normal; 
   font-weight: 400; 
   src: url(iAWriterMonoS-Regular.woff) format('woff');
}

@font-face {
   font-family: 'iaWriter'; 
   font-style: normal; 
   font-weight: 400; 
   src: url(iAWriterMonoS-Regular.ttf) format('ttf');
}

@font-face {
   font-family: 'iaWriter'; 
   font-style: normal; 
   font-weight: 400; 
   src: url(iAWriterMonoS-Regular.eot) format('eot');
}

body {
    font-family: 'iaWriter', sans-serif;
    font-weight: 400;
    margin: 20%;
    margin-top: 0%;
    background-color: #f5f6f6;
    color: #330000;
    font-variant-ligatures: none;
    font-size: 1rem;
}

a.dropdown-item, a.nav-link {
  font-family: 'iaWriter', monospace;
  color: #595959;
}

header nav ul a, a {
  font-family: 'iaWriter', monospace;
  color: #595959;
}

h1, h2, h3, h4, h5 {
  font-weight: 200;
  font-family: 'Space Mono', monospace;
  color: #595959;
}

strong {
  font-weight: bold;
}

h1, .meta {
  text-align: center;
}

.meta {
  color: lightslategray;
}

h2 {
  margin-bottom: 5%;
  text-align: center;
}

h3, h4 {
  line-height: 140%;
  margin-bottom: 3%;
}

p, li {
  line-height: 150%;
  margin-bottom: 3%;
  letter-spacing: 0.01em;
}

h2.title {
  text-align: center;
  color: #0066b9;
  font-size: 1.5rem;
}

header {
  padding-top: 3%;
}

.category_label {
    background-color: #ddd;
    border: none;
    color: black;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 16px;
}


.active.list-group-item a {
  color: white;
}

/*.resources .panel {*/
/*    background:  #EFF6FB;*/
/*    border: 1px solid #DBDBDB;*/
/*}*/

pre {
  border: 1px solid lightpink;
  padding: 2%;
  border-radius: 16px;
  background-color: lightgray;
}

.container {
  width: 100%;
  margin-left: 20%;
  margin-top: 5%;
}

div.body {
  margin-top: 5%;
}

div.author {
  text-align: center;
}

div.footer {
  margin-top: 15%;
  color: lightslategray;
  text-align: center;
  font-size: 10pt;
}

p.other-from-topic {
  color: lightgray;
  font-weight: 500;
}

.blur {
  color: lightgray;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
  background-color: #595959;
}

pre.poem {
  text-align: center;
  border: transparent;
  font-size: inherit;
  font-family: "IBM Plex Mono", monospace;
  background-color: transparent;
}

.list-group-item {
  background-color: inherit !important;
}

#nav-bar {
  height: 100%;
  position: fixed;
  z-index: 1;
  top: 30%;
  left: 7%;
  background-color: transparent;
  overflow-x: hidden;
  padding-top: 20px;

}

#home, #nav-home {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
}

#home {
  height: 400px;
}

#nav-home {
  height: 20px;
}

.footer-home {
  margin-top: 15%;
  color: lightslategray;
  text-align: center;
  font-size: 10pt;
  bottom: 15px;
  left: 0;
  right: 0;
  position: fixed;
}

.bg-primary {
  background-color: #595959 !important;
}

@media print{
  @page {
    margin: 2cm;
  }

  body, div.body {
    font-size: 14px;
  }

  .container {
    margin-left: 0%;
    width: 150%;
  }

  nav * {
    display: none;
  }
}
